.full-height {
  height: 100vh;
}

.spacing {
  padding: 0 5px;
}

.modal-content {
  background-color: $green;
  padding: 30px;
}

.modal-header, .modal-footer {
  border: none;
}

.submit {
  border-color: $white;
  background: transparent;
  &:hover {
    color: $white;
  }
}
