<div class="container col-xs-1 col-md-2"></div>
<div class="container col-xs-10 col-md-8 no-padding">
  <div class="add-new">
    <button class="btn btn-template bordered pull-left"
      ng-click="openPost()"><i class="fa fa-plus fa-4x" aria-hidden="true"></i></button>
    <button class="btn btn-template pull-right"
      ng-click="logOut()"><i class="fa fa-sign-out fa-4x" aria-hidden="true"></i></button>
  </div>
  <div class="white-bg full-height">
    <div style="height:100px"></div>
    <div class="col-xs-12 one-post"
      ng-repeat="post in posts track by $index">
      <div class="row title aligner">
        <div class="col-xs-8">
          <h1>{{post.title}}</h1>
        </div>
        <div class="col-xs-4">
          <div class="pull-right">
            <button class="btn btn-primary"
              ng-click="openPost(post, $index)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button class="btn btn-danger"
              ng-click="deletePost(post, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 author">
        <span class="pull-right"><i>By {{post.author.name.first}} {{post.author.name.last}}</i></span>
      </div>
      <div class="col-xs-12">
        <p>{{post.body}}</p>
      </div>
    </div>
  </div>
</div>
<div class="container col-xs-1 col-md-2"></div>

<script type="text/ng-template" id="post.html">
  <form ng-submit="submitPost()">
    <div class="modal-body">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" ng-model="post.title"/>
      </div>
      <div class="form-group">
        <label>Body</label>
        <textarea rows="15" type="text" class="form-control" ng-model="post.body"/>
      </div>
    </div>
    <div class="modal-footer centered">
      <button class="btn submit" type="submit">Submit</button>
    </div>
  </form>
</script>

<script type="text/ng-template" id="delete.html">
  <div class="modal-body">
    <h3>Are you sure you want to delete?</h3>
  </div>
  <div class="modal-footer centered">
    <button class="btn btn-warning" ng-click="delete()">Delete</button>
    <button class="btn submit" ng-click="cancel()">Cancel</button>
  </div>
</script>
